/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Inter:slnt@-10..0&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,700;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body input button a {
  font-family: "Rubik", sans-seri;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.contianer {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.content {
  width: 100%;
  max-width: 1314px;
  margin-left: auto;
  margin-right: auto;
}

.btn-our {
  width: 252px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 34.5px;
  -moz-column-gap: 24px;
       column-gap: 24px;
  background-color: #1B1D23;
  border: 0;
}
.btn-our:hover {
  cursor: pointer;
  background-color: #60636D;
}
.btn-our:active {
  background-color: #C8CCD8;
}

.btn {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: #7D828F;
  background-color: white;
  border: 0;
}
.btn:hover {
  cursor: pointer;
  background-color: #EEEFF4;
  color: #7D828F;
}
.btn:active {
  background-color: #1B1D23;
  color: white;
}

.btn-about-us {
  padding: 25px 32px 22px 35px;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  background-color: #1B1D23;
  border: 0;
}
.btn-about-us:hover {
  cursor: pointer;
  background-color: #60636D;
}
.btn-about-us:active {
  background-color: #C8CCD8;
}

.home-logo {
  width: 24px;
  height: 272px;
  display: flex;
  padding-right: 15px;
  flex-direction: column;
  align-items: center;
  position: fixed;
  padding-left: 15px;
}
.home-logo .line {
  width: 1px;
  height: 104px;
  background-color: #c8ccd8;
}
.home-logo .home {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 18px;
  text-align: left;
  color: #c8ccd8;
  transform: rotate(90deg);
  margin-top: 98px;
}

header {
  padding: 56px 0px;
}
header nav {
  width: 100%;
  max-width: 504px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  width: 100%;
  max-width: 313px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li a {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #c8ccd8;
}
header nav ul li a:hover {
  cursor: pointer;
  color: #1b1d23;
}

.project {
  background-image: url(../img/Project.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
}
.project .project-info {
  padding-left: 190px;
  padding-top: 186px;
  width: 100%;
  max-width: 544px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.project .project-info h1 {
  font-family: League Spartan;
  font-size: 96px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}
.project .project-info p {
  width: 100%;
  max-width: 445px;
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #fff;
}
.project .project-info button {
  margin-top: 41px;
}
.project p {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: right;
}

.section-btn {
  width: 100%;
  max-width: 320px;
  display: flex;
  margin-left: 22px;
  transform: translateY(-80px);
}

main .studio {
  margin-top: 28px;
  background-image: url(../img/studio.png);
  background-size: 375px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
main .studio h2 {
  font-family: League Spartan;
  font-size: 250px;
  line-height: 200px;
  letter-spacing: -5px;
  text-align: left;
  color: #eeeff4;
  margin-left: 20px;
}
main .studio .studio-info {
  transform: translateY(-30px);
  margin-left: 189px;
  width: 100%;
  max-width: 446px;
}
main .studio .studio-info h3 {
  font-family: League Spartan;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
  color: #1b1d23;
  padding-bottom: 43px;
}
main .studio .studio-info .pragraph {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
main .studio .studio-info .pragraph p {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #60636d;
}
main .small {
  margin-top: 200px;
  background-repeat: no-repeat;
  height: 560px;
  background-image: url(../img/small-team.png);
  background-position: right top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .small .team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 27px;
  width: 100%;
  max-width: 445px;
  margin-left: 190px;
  margin-top: 167px;
}
main .small .team h3 {
  font-family: League Spartan;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
  color: #ffffff;
}
main .small .team button p {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: right;
  color: white;
}
main .featured {
  margin-top: 200px;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .featured h2 {
  font-family: League Spartan;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
}
main .featured button p {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: right;
  color: white;
}
main .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
main .card .de-sol {
  width: 100%;
  max-width: 350px;
  height: 560px;
  background-image: url(../img/de-sol.png);
  background-repeat: no-repeat;
}
main .card .de-sol h5 {
  font-family: League Spartan;
  font-size: 250px;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
  text-align: right;
  color: #ffffff;
  opacity: 50%;
  margin-top: 45px;
  margin-right: -16px;
  margin-bottom: 212px;
}
main .card .de-sol .info {
  margin-left: 40px;
}
main .card .de-sol .info h4 {
  font-family: League Spartan;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #fff;
}
main .card .de-sol .info p {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #fff;
}
main .card .tower {
  width: 100%;
  max-width: 350px;
  height: 560px;
  background-image: url(../img/tower.png);
  background-repeat: no-repeat;
}
main .card .tower h5 {
  font-family: League Spartan;
  font-size: 250px;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
  text-align: right;
  color: #ffffff;
  opacity: 50%;
  margin-top: 45px;
  margin-right: -16px;
  margin-bottom: 212px;
}
main .card .tower .info {
  margin-left: 40px;
}
main .card .tower .info h4 {
  font-family: League Spartan;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #fff;
}
main .card .tower .info p {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #fff;
}
main .card .prototype {
  width: 100%;
  max-width: 350px;
  height: 560px;
  background-repeat: no-repeat;
  background-image: url(../img/protaype.png);
}
main .card .prototype h5 {
  font-family: League Spartan;
  font-size: 250px;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
  text-align: right;
  color: #ffffff;
  opacity: 50%;
  margin-top: 45px;
  margin-right: -16px;
  margin-bottom: 212px;
}
main .card .prototype .info {
  margin-left: 40px;
}
main .card .prototype .info h4 {
  font-family: League Spartan;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #fff;
}
main .card .prototype .info p {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #eeeff4 90%, #fff 90%);
  margin-top: 200px;
}
footer nav {
  width: 100%;
  max-width: 598px;
  display: flex;
  align-items: center;
  -moz-column-gap: 85px;
       column-gap: 85px;
}
footer nav .div-arch {
  width: 200px;
  height: 200px;
  background-color: #1b1d23;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav ul {
  width: 100%;
  max-width: 313px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer nav ul li a {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #c8ccd8;
}
footer nav ul li a:hover {
  cursor: pointer;
  color: #1b1d23;
}
footer button p {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: right;
  color: #fff;
}

main .about {
  background-image: url(../img/About.png);
  background-repeat: no-repeat;
  background-size: 635px;
  height: 720px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main .about .info {
  width: 100%;
  max-width: 645px;
  height: 505px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  justify-content: space-between;
}
main .about .info h3 {
  font-family: League Spartan;
  font-size: 250px;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
  text-align: right;
  color: #EEEFF4;
  transform: translate(-25px, -80px);
}
main .about .info .your-of {
  width: 100%;
  height: 341px;
  max-width: 446px;
  transform: translateY(-25px);
}
main .about .info .your-of .line {
  width: 65px;
  height: 1px;
  left: 1px;
  background-color: #C8CCD8;
}
main .about .info .your-of h4 {
  font-family: League Spartan;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
  color: #1B1D23;
  margin-top: 57px;
  margin-bottom: 49px;
}
main .about .info .your-of p {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #60636D;
}
main .heritage {
  background-image: url(../img/heritoge.png);
  background-repeat: no-repeat;
  background-position: top right;
  height: 568px;
  margin-top: 200px;
}
main .heritage h4 {
  padding-top: 100px;
  width: 100%;
  max-width: 350px;
  font-family: League Spartan;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
  margin-bottom: 51px;
}
main .heritage .paragrif {
  width: 100%;
  max-width: 445px;
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .heritage .paragrif p {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #60636D;
}
main .leaders {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
main .leaders h4 {
  width: 350px;
  font-family: League Spartan;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
  color: #1B1D23;
}
main .leaders .card {
  width: 100%;
  max-width: 730px;
  display: flex;
  flex-direction: column;
  row-gap: 63px;
}
main .leaders .card .list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
main .leaders .card .list article {
  width: 100%;
  max-width: 350px;
}
main .leaders .card .list article h5 {
  margin-top: 15px;
  font-family: League Spartan;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #1B1D23;
  width: 350px;
}
main .leaders .card .list article p {
  font-family: League Spartan;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #1B1D23;
  opacity: 75%;
}
main .leaders .card .list article div {
  width: 100%;
  max-width: 350px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
main .leaders .card .list article div a {
  display: none;
}
main .leaders .card .list article div:hover {
  cursor: pointer;
  opacity: 50%;
  background-color: #1B1D23;
}
main .leaders .card .list article div:hover a {
  display: block;
}
main .leaders .card .list article .richards {
  background-image: url(../img/Richards.png);
  background-repeat: no-repeat;
}
main .leaders .card .list article .smith {
  background-repeat: no-repeat;
  background-image: url(../img/smith.png);
}
main .leaders .card .list article .rourke {
  background-repeat: no-repeat;
  background-image: url(../img/Rourke.png);
}
main .leaders .card .list article .simpson {
  background-repeat: no-repeat;
  background-image: url(../img/Simpson.png);
}

@media (max-width: 1300px) {
  .section-btn {
    display: none;
  }
}/*# sourceMappingURL=import.css.map */