
main {
  .about {
    background-image: url(../img/About.png);
    background-repeat: no-repeat;
    background-size: 635px;
    height: 720px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .info{
      width: 100%;
      max-width: 645px;
      height: 505px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: #fff;
      justify-content: space-between;
      // margin-bottom: -2px;
      

      h3{
        font-family: League Spartan;
        font-size: 250px;
        font-weight: 700;
        line-height: 200px;
        letter-spacing: -5px;
        text-align: right;
        color: #EEEFF4;
        
        transform: translate(-25px, -80px);

      }
      .your-of{
        width: 100%;
        height: 341px;
        max-width: 446px;
        transform: translateY(-25px);
        .line{
          width: 65px;
          height: 1px;
          left: 1px;
          background-color: #C8CCD8;

        }
        h4{
          font-family: League Spartan;
          font-size: 72px;
          font-weight: 700;
          line-height: 64px;
          letter-spacing: -2px;
          text-align: left;
          color: #1B1D23;
          margin-top: 57px;
          margin-bottom: 49px;
        }
        p{
          font-family: League Spartan;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          color: #60636D;

        }
      }
    }
  }
  .heritage{
    background-image: url(../img/heritoge.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 568px;
    margin-top: 200px;
    h4{
      padding-top: 100px;
      width: 100%;
      max-width: 350px;
      font-family: League Spartan;
      font-size: 72px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -2px;
      text-align: left;
      margin-bottom: 51px;

    }
    .paragrif{
      width: 100%;
      max-width: 445px;
      height: 288px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p{
        font-family: League Spartan;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #60636D;

      }
      
    }

  }
  .leaders{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    h4{
      width: 350px;
      font-family: League Spartan;
      font-size: 72px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -2px;
      text-align: left;
      color: #1B1D23;

    }
    .cart{
      display: flex;
      flex-direction: column;
      row-gap: 63px;
      width:100%;
      max-width: 730px;
      .list{
        width:100%;
        max-width: 730px;
        display: flex;
        column-gap: 30px;
        justify-content: space-between;
        article{
          width: 100%;
          max-width: 350px;
          h5{
            margin-top: 15px;
            font-family: League Spartan;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            text-align: left;
            color: #1B1D23;
            // width: 100%;
            width: 350px;

          }
          p{
            font-family: League Spartan;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: #1B1D23;
            opacity: 75%;

          }
          div{
            background-size:cover;
            width:100%;
            max-width: 350px;
            height: 320px;
            display: flex;
            justify-content: center;
            align-items:center;
            column-gap: 32px;
            a{
              display: none;
            }
            
            &:hover{
              cursor: pointer;
              opacity: 50%;
              background-color: #1B1D23;
              a{
                display: block;
              }
            }

          }
          .richards{
            
            background-image:url(../img/Richards.png);
            background-repeat: no-repeat;
          }
          .smith{

            background-repeat:no-repeat;
            background-image: url(../img/smith.png);
          }
          .rourke{
            background-repeat:no-repeat;
            background-image: url(../img/Rourke.png);

          }
          .simpson{
            background-repeat:no-repeat;
            background-image: url(../img/Simpson.png);
          }
        }
      }
    }
  }
}
