@media(max-width:1350px){
    .contianer{
        margin-left: 98px;
        margin-right: 98px;
    }
    
}
@media(max-width:1010px){
    .project{
        background-image:url(../img/project-tablet.png)
    }
    .section-btn{
        display: none;
    }
    main{
        .studio{
            background-image: none;
            h2{
                font-size: 120px;
                letter-spacing: -3px;
                margin-left: 0;
            }
            .studio-info{
                margin-left: 0;
                max-width: 100%;
            }
            
        }
        .card{
            flex-direction: column;
            align-items:flex-start;
            row-gap: 24px;
            div{
                max-width: 1010px;
                height: 240px;
                background-size:cover;
                h5{
                    margin-right: 11px;
                }
            }
            .de-sol{
                background-image: url(../img/de-sol-tablet.png);
            }
            .tower{
                background-image: url(../img/tover-tablet.png);
            }
            .prototype{
                background-image: url(../img/protaype-tablet.png);
            }

        }
            
    }
}
   
